/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html {
  height: 100%;
}

body {
  font-family: 'Indie Flower', cursive;
  background: white;
  color: $grey;
  font-size: 12px;
  height: 100%;

  li {
    list-style: none;

    img {
      text-align: center;
    }
  }
}

header {
  display: flex;
  justify-content: center;
  background-color: $red;

  img {
    width: 43px;
    height: 43px;
  }
}



nav {
  width: 200px;
  background-color: $red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;


  ul {
    overflow: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


    li {

      img {
        width: 22px;
        height: 22px;
      }

      a {
        background-color: white;
        border-radius: 4px;
        color: $grey;
        font-weight: 700;
        display: block;
        padding: 15px;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
        position: relative;
        -webkit-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -moz-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -ms-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        -o-transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-out, background-color 0.1s ease-in-out;

        &:hover {
          color: $light-grey;
          -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
          box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.75);
        }

        &:active {
          background-color: $light-grey;
          color: white;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }
}

.pokemon-detail {
  display: flex;
  flex-grow: 1;
  overflow-y: scroll;
  align-items: center;
  justify-content: space-around;
  background-image: url('http://www.homedepot.com/catalog/productImages/1000/d7/d744807c-6944-4433-a9fc-5596c5ea26c0_1000.jpg');

  ul {
    height: 100%;
  }

  img {
    width: 100%;
  }

  li:first-child {
    display: flex;
    justify-content: space-around;
  }

  li {
    font-size: 20px;
    color: black;
    text-align: center;
  }

  .item-box {
    border: 3px solid black;
    border-radius: 20px;
    background: white;
    box-shadow: 5px 5px 10px 5px gray;
    margin: 20px 0;
  }
}

div.pokemon-index {
  height: 100%;
  display: flex;
  border: 5px solid black;
  border-radius: 10px;
  margin: 20px;
}

div.index {
  align-items: flex-start;
  overflow-y: scroll;
  max-height: 100%;
  width: 200px;
}

.pokemon img {
  height: 24px;
  width: 24px;
}

li.pokemon{
  vertical-align: baseline;
  align-content: space-around;
  border-top: 1px solid grey;
  padding: 3px;
}

.pokemon span {
  vertical-align: center;
  padding: 0 5px;
  font-size: 18px;
  text-decoration: none;
}

.pokemon-image {
  margin-top: 20px;
  height: 30%;
  width: 70%;
}

.pokemon-item {
  margin: 25px 0;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;

  img {
    height: 100px;
  }
}


#root {
  height: 100%;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
  text-align: center;
  color: $black;
}
